venv
node_modules
.env
__pycache__
.venv
.aider*
uploads
uploads/*
.qodo
codex/
tests/
docs/
storage/
alembic/
# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
migrations/*
sam-installation/*
Cline/*
